a{
    color: black;
    text-decoration: none;
    margin: 0.2em 0.5em;
    height: 2em;
    display:flex;
    justify-content: center;
    align-items: center;

  }

ul{
    list-style-type: none;
    display: flex;
    
 }


a:hover{
    text-decoration: underline;
    color: green;}



header {
        height: 3em;
        display:flex ;
        justify-content: center;
        align-items: center;
        background-color: rgb(81, 126, 85);
        background-size: auto;
        opacity: 0.8;
      }

   .nume {
        display: inline-block;
        margin-left: 47.1em;
      }

#preturi{
  margin-top: 1em;
  margin-left: 1em;
}

div {
  width: 250px;
  border: 2px solid green;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
}

h4{
  margin-top: 1em;
  margin-left: 3em;
}

p{
  margin-top: 1em;
  text-align: center;
  font-size: 18px;
  background-color:rgb(235, 229, 229);
  opacity: 0.7;
}

h3{
  margin-left: 61.2em;
}

img{
  margin-left: 72em;
}

#fb{
  margin-left: 72.8em;
}
h2{
  margin-top: 0.2em;
}

 body {
        background-image: url(pexels-kelly-lacy-2563742.jpg);
        background-size: cover;
        height: 100vh;
        animation-name: Animatie;
        animation-duration: 100s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    @keyframes Animatie {
      from {
          background-size: cover;
      }
      to{
          background-position: center center, 75% 70%, 38% 25%, -1024px 0%;
      }
    }