h1 {
    color:rgb(0, 0, 0);
    text-align: center;
}

h3 {
    color:rgb(192, 133, 65);
}

h4 {
    color: orangered;
    margin-top: 2.5em;
    text-align: center;
}

p {
    color:rgb(192, 133, 65);
    text-align:center;
}

#lista {
    color:rgb(0, 0, 0);
    list-style-type: square;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    margin: 0.2em 0.5em;
    height: 2em;
    display:flex;
    justify-content: center;
    align-items: center;
  }
    
    a{
      color: burlywood;
      text-decoration: none;
      margin: 0.2em 0.5em;
      height: 2em;
      display:flex;
      justify-content: center;
      align-items: center;

    }


    ul{
        list-style-type: none;
        display: flex;
        
     }

  a:hover{
      text-decoration: underline;
      color:white;

  }

  #roz {
      color: lightcoral;
  }
  #deer{
      color: darksalmon;
  }
  #gri{
      color: grey;
  }
  #val{
      color:cadetblue;
  }
  #skin{
      color:coral;
  }
  #aqua {
      color:aqua;
  }
  #red {
      color: red;
  }
  #leo {
      color:chocolate;
  }
  #marble {
      color:lightsteelblue;
  }
  #forest{
      color:darkolivegreen;
  }
  #robo {
      color:darkslategrey;
  }

  body {
    background-color: rgb(183, 233, 227);
    background-repeat: no-repeat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
