h1 {
    color: rgb(223, 215, 104);
    text-align: center;
    font-family: courier new;
    font-size: 40px;
    text-shadow: 2px 2px black;
}

h3 {
    color: black;
    font-size: 17px;
    text-align: center;
    
}

h4 {
    color: black;
    margin-top: 2.5em;
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 2px black;
    
}

p {
    color: black;
    text-align:center;
    
}

#logo {
    width:500px;
    transform: none;
    margin-inline-start: -13em;
    margin-top: -15em;
    margin-bottom: -19em;
}

#lista{
    color:rgb(79, 83, 16);
    list-style-type: square;
    text-align: center;
}

#pozaPr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    border: 2px solid rgb(193, 218, 85);
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    margin-left: 24em;
    margin-right: 32em;
}


@media only screen and (max-width: 768px) {

#lista {
    display:none;
  } 

#pozaPr{
    display:none;
}
#produse{
    display: none;
}
}

header {
    height: 3em;
    display:flex ;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 240, 240);
    background-size: auto;
    opacity: 0.8;
}
    
a {
      color: black;
      text-decoration: none;
      margin: 0.2em 0.5em;
      height: 2em;
      display:flex;
      justify-content: center;
      align-items: center;
}

ul {
        list-style-type: none;
        display: flex;
}

a:hover {
      text-decoration: underline;
      color: rgb(192, 212, 77);

}

  #roz {
      color: lightcoral;
  }
  #deer{
      color: darksalmon;
  }
  #gri{
      color: grey;
  }
  #val{
      color:cadetblue;
  }
  #skin{
      color:coral;
  }
  #aqua {
      color:aqua;
  }
  #red {
      color: red;
  }
  #leo {
      color:chocolate;
  }
  #marble {
      color:lightsteelblue;
  }
  #forest{
      color:darkolivegreen;
  }
  #robo {
      color:darkslategrey;
  }

.im {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform-origin: center center;
    transition-duration: 0.5s;
    transition-delay: 0.3s;
    transition-timing-function: linear;
    border-radius: 100px;
    width: 16%;
    height: 32%;
}

.im:hover{
      transform: scale(3);
}

body {
      background-image: url(polish.jpg);
      background-size: cover;
      height: 100vh;
      font-family: Arial, Helvetica, sans-serif;
      animation-name: Animatie;
      animation-duration: 100s;
      /* animation-timing-function: linear; */
      /* animation-iteration-count: infinite; */
      /* animation-fill-mode: both; */
}


  @keyframes Animatie {
    from {
        background-size: cover;
    }
    to{
        background-position: center center, 75% 70%, 38% 25%, -1024px 0%;
    }
  }

.nume {
    text-align: end;
}

#preturi {
    text-align: center;
}

div {

border: 2px solid rgb(193, 218, 85);
padding: 10px;
margin: 10px;
border-radius: 25px;
margin-left: 32em;
margin-right: 32em;
}

#contact {
    margin-top: 1em;
    text-align: center;
    font-size: 18px;
    background-color:rgb(235, 229, 229);
    opacity: 0.7;
}

h2 {
    margin-top: 0.2em;
}

.md {
    text-shadow: none;
    font-size: 15px;
    align-items: center;
}
#ig, #fb{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
